<div class="container-fluid p-4">
    <label for="" class="header-title">ORDERS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Manage Order</label>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col px-0">
                    <label for="" class="ci-table__header--title">Order ID</label>
                </div>
                <div class="col-10 d-flex">
                    <div class="col px-0 text-left">
                        <label for="" class="ci-table__header--title">Customer</label>
                    </div>
                    <div class="col px-0 text-left">
                        <label for="" class="ci-table__header--title">Order Status</label>
                    </div>
                    <div class="col px-0 ">
                        <label for="" class="ci-table__header--title">Date</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Total</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>


            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list">
                <div class="col-md col-12 px-0 ">
                    <label for="" class="ci-table__body--title"> <span class="d-md-none d-inline-block mr-4">Order-id</span>{{item.invoice_id}}</label>
                </div>
                <div class="col-md-10 col-12 d-flex flex-wrap align-items-center px-0 px-md-3">
                    <div class="col-md col-12 px-0 text-md-left ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Customer</span><b>{{item.buyer_name}}</b></label>
                    </div>
                    <div class="col-md col-12 px-0 text-md-left ">
                        <label for="" class="ci-table__body--title"> <span class="d-md-none d-inline-block mr-4">Status</span>
                            <span class="bg-warning text-white px-3 rounded" *ngIf="item.status === 'pending'">{{item.status}}</span>
                            <span class="bg-success text-white px-3 rounded" *ngIf="item.status === 'approved'">{{item.status}}</span>
                            <span class="bg-danger text-white px-3 rounded" *ngIf="item.status === 'rejected'">{{item.status}}</span>
                            <span class="bg-info text-white px-3 rounded" *ngIf="item.status === 'intransist'">{{item.status}}</span>
                        </label>
                    </div>
                    <div class="col-md col-12 px-0 ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Date</span>{{item.date | date}}</label>
                    </div>
                    <div class="col-md col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title text-success"><span class="d-md-none d-inline-block mr-4">Total</span>{{item.total_due}}</label>
                    </div>
                    <div class="col-md col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title d-flex flex-column justify-content-around">
                            <span class="d-md-none d-inline-block mr-4">Action</span>
                            <span class="text-success pointer" uk-tooltip="Approve the order" (click)="statuCtl(item._id,'approved')" *ngIf="item.status !== 'approved'">Approve</span>
                            <span class="text-warning pointer" uk-tooltip="Pending the order" (click)="statuCtl(item._id,'pending')" *ngIf="item.status !== 'pending'">Pending</span>
                            <span class="text-info pointer" uk-tooltip="Order in transist" (click)="statuCtl(item._id,'intransist')" *ngIf="item.status !== 'intransist'">In-Transist</span>
                            <span class="text-danger pointer" uk-tooltip="Reject the order" (click)="statuCtl(item._id,'rejected')" *ngIf="item.status !== 'rejected'">Reject</span>
                        </label>
                    </div>
                </div>
            </div>
            <ul class="uk-pagination uk-flex-center" uk-margin>
                <li><a (click)="previous()"><span uk-pagination-previous></span></a></li>
                <li *ngFor="let item of count;let i=index;"><a (click)="manual(i+1)">{{i+1}}</a></li>
                <li><a (click)="next()"><span uk-pagination-next></span></a></li>
            </ul>
            <!-- ci-body ends -->

        </div>
    </div>
</div>