<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="col-12 px-0 top-bar-container">
            <!-- Top Navigation -->
            <app-header></app-header>
            <!-- Top Navigation Ends -->
        </div>
        <div id="side-bar-container" class="col-4 side-bar-container px-0 position-relative">
            <!-- Side menu bar -->
            <app-sidebar></app-sidebar>
            <!-- Side menu bar Ends -->
        </div>
        <div class="col content-container px-0">
            <div class="content-wraper">
                <router-outlet></router-outlet>
                <div class="spacer"></div>
                <!-- footer -->
                <app-footer></app-footer>
                <!-- footer ends -->
            </div>
        </div>
    </div>
</div>