<div class="container-fluid p-4">
    <label for="" class="header-title">STORE</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Store Lists</label>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0 text-center">
                    <label for="" class="ci-table__header--title">Image</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Date</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Status</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of List">
                <div class="col-md-2 col-6 px-0 text-center">
                    <img [src]="item.image" width="50px" height="50px" alt="">
                </div>
                <div class="col-md-10 col-6 d-flex flex-wrap">
                    <div class="col-md-3 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title">{{item.store_name}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title">{{item.created | date}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <label class="switch" uk-tooltip="title: Change state; post: top">
                            <input type="checkbox" [checked]="item.status" (change)="statusctl(item._id,item.status)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                   
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <i class="fas fa-eye text-info mr-3 pointer" (click)="view(item._id)" routerLinkActive="router-link-active"  uk-tooltip="title: View item; post: top"></i>
                        <i class="fas fa-edit text-success mr-3 pointer" (click)="edit(item)" uk-tooltip="title: Edit item; post: top"></i>
                        <i class="fas fa-trash-alt text-danger pointer" (click)="delete(item._id)" uk-tooltip="title: Delete item; post: top"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>


<div id="modal-delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>





<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>