<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first my-3">
        <img src="../../../assets/img/IMG_20201030_212137_245.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input #phno type="text" id="login" class="fadeIn second" placeholder="Phone number">
        <input #pswd type="password" id="password" class="fadeIn third" placeholder="password">
      </form>
      <input type="button" (click)="loginCtl(phno.value, pswd.value)" class="fadeIn fourth" value="Log In">
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="https://gdecor.in">Shop with gdecor</a>
      </div>
  
    </div>
  </div>