<div class="container-fluid p-4">
    <label for="" class="header-title d-inline-block mb-3 mb-sm-3">PRODUCT LIST</label>
    <button class="btn btn-main bg-main text-white float-sm-right px-4 mb-3 mb-sm--0"  (click)="openCreate()"><i class="fas fa-plus-circle mr-3"></i>Add Product</button>
    <div class="row">
        <div class="col-md-4 col-12">
            <select class="form-control" (change)="getallByCategory($event.target.value)">
                <option [value]="'all'">All</option>
                <option [value]="item.name" *ngFor="let item of categoryList">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">

        <!-- card start here -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" *ngFor="let item of list">
            <div class="product-card">
                <div class="product-card__controls d-none">
                    <div class="mx-3 badge-circle bg-main text-white">
                        <i class="fas fa-edit" (click)="edit(item)"></i>
                    </div>
                    <div class="mx-3 badge-circle bg-main text-white">
                        <i class="fas fa-trash-alt" (click)="delete(item)"></i>
                    </div>
                </div>
                <img [src]="item.featuredImage" alt="" width="200">
                <div class="product-card__rating">
                    <i class="fas fa-star active"></i>
                    <span>{{item.rating}}</span>
                </div>
                <label for="" class="product-card__name text-truncate">{{item.name}}</label>
                <label for="" class="product-card__price">₹{{item.price - (item.discountPrice/100)*item.price}}<span class="strike-word">₹{{item.price}}</span></label>
            </div>
        </div>
        <!-- card End here -->
        
        

    </div>
    
</div>

<div  id="create" class="uk-modal-container" uk-modal bg-close="false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
            <form class="row" [formGroup]="product">
                <div class="col-lg-3 col-12">
                    <div class="form-group">
                        <label for="subcategoryname">Name<span class="text-danger">*</span></label>
                        <input formControlName="name" type="text"  id="subcategoryname" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-group">
                        <label for="sku">SKU<span class="text-danger">*</span></label>
                        <input formControlName="sku" type="text"  id="sku" class="form-control">
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-group">
                        <label for="categoryname">Category<span class="text-danger">*</span></label>
                        <select formControlName="category" (change)="subcatImporter()" id="categoryname" class="form-control">
                            <option [value]=null>Select category</option>
                            <option [value]="cat.name" *ngFor="let cat of categoryList">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <div class="form-group">
                        <label for="subcategory">Sub-category<span class="text-danger">*</span></label>
                        <select formControlName="subcategory" id="subcategory" class="form-control">
                            <option [value]=null>Select sub-category</option>
                            <option [value]="subcat.subcategory_name" *ngFor="let subcat of subcategoryList">{{subcat.subcategory_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="form-group">
                        <label for="brand">Brand<span class="text-danger">*</span></label>
                        <select formControlName="manufacture" id="brand" class="form-control">
                            <option [value]=null>Select brand</option>
                            <option [value]="brand.name" *ngFor="let brand of brandList">{{brand.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="form-group">
                        <label for="price">Price<span class="text-danger">*</span></label>
                        <input formControlName="price" type="number"  id="price" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="form-group">
                        <label for="discountPrice">DIscount in %</label>
                        <input formControlName="discountPrice" type="number"  id="discountPrice" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="form-group">
                        <label for="stock">Stock<span class="text-danger">*</span></label>
                        <input formControlName="stock" type="number"  id="stock" class="form-control">
                    </div>
                </div>
                <div class="col-lg-3 col-12 d-flex">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="unit">Unit<span class="text-danger">*</span></label>
                            <input formControlName="unit" type="text"  id="unit" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="tax">Tax <span class="text-small">(GST+SESS)</span> <span class="text-danger">*</span></label>
                            <input formControlName="tax" type="number"  id="tax" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="featuredimage">Featured Image<span class="text-danger">*</span></label>
                        <input (change)="uploadImage($event)" type="file"  id="featuredimage" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="gallery">Gallery Images</label>
                        <input multiple (change)="uploadGallery($event)" type="file"  id="gallery" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="flag" (click)="save()">Save</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="!flag" (click)="update()">Update</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mr-2"  (click)="closeCreate()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>





<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>