<div class="container-fluid p-4">
    <label for="" class="header-title">BANNER</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Add Banner</label>
        </div>
        <div class="d-flex flex-wrap align-items-start justify-content-center add-product">
            <div class="col-md-8  add-product__imgs flex-wrap order-md-1 order-2" *ngIf="imageString === null">
                <div class="add-product__imgs--featured">
                    <input (change)="upload($event)" type="file" name="featured-img" id="">
                    <div class="add-product__imgs--featured--detail">
                        <i class="fas fa-plus"></i>
                        <label for="">banner Image</label>
                    </div>
                </div>
            </div>
            <div class="col-md-8 add-product__imgs flex-wrap order-md-1 order-2" *ngIf="imageString !== null">
                <div class="add-product__imgs--featured">
                    <img [src]="imageString" class="img-banner" alt="">
                </div>
            </div>
            <div class="col order-md-2 order-1">
                <form>
                    <div class="d-flex flex-wrap">
                        <div class="form-group my-3 col-12">
                            <label>Banner Name</label>
                            <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="add-product__control col-12 order-3 my-3 text-right">
                <button class="btn bg-main text-white mr-3" (click)="save()">ADD</button>
                <button class="btn mr-3" (click)="cancel()">DISCARD</button>
            </div>
        </div>
    </div>
</div>