<div class="container-fluid p-4">
    <label for="" class="header-title">DASHBOARD</label>
    <div class="d-flex flex-wrap mt-4">
        <div class="col-xl col-sm-6 col-12 mb-3 pl-0">
            <div class="bg-card bg-warning">
                <div class="bg-card__icon-box text-warning">
                    <i class="fas fa-location-arrow"></i>
                </div>
                <div class="bg-card__detail text-center">
                    <label class="bg-card__detail--title">Earnings(Today)</label>
                    <label for="" class="bg-card__detail--info"> <span>₹ {{card.toadysale}}</span></label>
                </div>
            </div>
        </div>
        <div class="col-xl col-sm-6 col-12 mb-3 pl-0">
            <div class="bg-card bg-secondary">
                <div class="bg-card__icon-box text-secondary">
                    <i class="fas fa-box"></i>
                </div>
                <div class="bg-card__detail text-center">
                    <label class="bg-card__detail--title">Products</label>
                    <label for="" class="bg-card__detail--info"><span>{{card.products}} </span></label>
                </div>
            </div>
        </div>
        <div class="col-xl col-sm-6 col-12 mb-3 pl-0">
            <div class="bg-card bg-main">
                <div class="bg-card__icon-box text-main">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <div class="bg-card__detail text-center">
                    <label class="bg-card__detail--title">Low stock</label>
                    <label for="" class="bg-card__detail--info"><span>{{card.lowstock}}</span></label>
                </div>
            </div>
        </div>
        <div class="col-xl col-sm-6 col-12 mb-3 pl-0">
            <div class="bg-card bg-ash text-center">
                <div class="bg-card__icon-box text-ash">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="bg-card__detail text-center">
                    <label class="bg-card__detail--title">New Users</label>
                    <label for="" class="bg-card__detail--info"><span>{{card.users}}</span></label>
                </div>
            </div>
        </div>
    </div>
</div>