<div class="container-fluid p-4">
    <label for="" class="header-title">Invoice</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Invoice List</label>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0">
                    <label for="" class="ci-table__header--title">Invoice Id</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-2 px-0 text-left">
                        <label for="" class="ci-table__header--title">Date</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Buyyer</label>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <label for="" class="ci-table__header--title">Tax</label>
                    </div>
                    <div class="col-2 px-0 text-left">
                        <label for="" class="ci-table__header--title">Total</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>

            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list">
                <div class="col-md-2 col-6 px-0">
                    <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Invoice ID</span>{{item.invoice_id}}</label>
                </div>
                <div class="col-md-10 col-12 d-flex flex-wrap px-0 px-md-3">
                    <div class="col-md-2 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Date</span>{{item.date | date}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Price</span>{{item.buyer_name}}</label>
                    </div>
                    <div class="col-md-2 col-12 px-0 text-md-center ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Tax</span>{{item.sales_tax}}%</label>
                    </div>
                    <div class="col-md-2 col-12 px-0 text-md-left ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Total</span>{{item.total_due}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center d-flex align-items-center">
                        <span class="d-md-none d-inline-block mr-4">Action</span>
                        <a [href]="item.url" download><button class="btn px-4 bg-secondary text-white">Download</button></a>
                        <button class="btn px-4 bg-danger text-white" (click)="delete(item)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
            
        </div>
        <ul class="uk-pagination uk-flex-center" uk-margin>
            <li><a (click)="previous()"><span uk-pagination-previous></span></a></li>
            <li *ngFor="let item of count;let i=index;"><a (click)="manual(i+1)">{{i+1}}</a></li>
            <li><a (click)="next()"><span uk-pagination-next></span></a></li>
        </ul>
    </div>
</div>
<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>