<div class="container-fluid">
    <div class="row py-3">
        <div class="col-12">
            <div class="form-group">
                <label for="title">Title</label>
                <input [(ngModel)]="notificationPayload.notification.title" type="text"  id="title" class="form-control">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="body">Body</label>
                <textarea [(ngModel)]="notificationPayload.notification.body" id="body" cols="" rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-12">
            <button (click)="send()" class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0"><span uk-icon="push"></span>Send</button>
        </div>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>