<div class="container-fluid p-4">
    <label for="" class="header-title">PRODUCT REPORTS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Products Report</label>
            <select [(ngModel)]="SelectedReport" (change)="reportCtl()" class="form-control col-3">
                <option value="stock">Stock List</option>
                <option value="low">Low Stock items</option>
                <option value="out">Out-off Stock items</option>
            </select>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0 text-center">
                    <label for="" class="ci-table__header--title">Image</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Stock</label>
                    </div>
                    <div class="col-2 px-0 text-center">
                        <label for="" class="ci-table__header--title">Qty</label>
                    </div>
                    <div class="col-4 px-0 text-center">
                        <label for="" class="ci-table__header--title">Category</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let product of productReports">
                <div class="col-md-2 col-6 px-0 text-md-center">
                    <img [src]="product.featuredImage" width="100px" alt="">
                </div>
                <div class="col-md-10 col-12 d-flex flex-wrap px-0 px-md-3">
                    <div class="col-md-3 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title">{{ product.name | titlecase }}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title">{{ product.stock }}</label>
                    </div>
                    <div class="col-md-2 col-12 px-0 text-md-center ">
                        <label for="" class="ci-table__body--title">{{ product.unit }}</label>
                    </div>
                    <div class="col-md-4 col-12 px-0 text-md-center ">
                        <label for="" class="ci-table__body--title">{{product.category | titlecase}}</label>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->


        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>