@import './toastr.css';
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
.bg-white {
  background-color: #fff;
}

.bg-warning {
  background-color: #A40000 !important;
}

.bg-secondary {
  background-color: #13c9ca !important;
}

.bg-main {
  background-color: #A40000 !important;
}

.bg-ash {
  background-color: #898989 !important;
}

.text-success {
  color: #81ba00 !important;
}

.text-warning {
  color: #A40000 !important;
}

.text-secondary {
  color: #13c9ca !important;
}

.text-main {
  color: #A40000 !important;
}

.text-ash {
  color: #898989 !important;
}

.color-1 {
  background: #d0edff;
}

.color-2 {
  background: #f1e7e6;
}

.color-3 {
  background: #bfbfbf;
}

/* ###############
     Common
 ############### */
body {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: 'Nunito', sans-serif;
  background: #f8f8f9;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: #fff0;
}

body::-webkit-scrollbar-thumb {
  background: #A40000;
  border-radius: 20px;
}

.pointer {
  cursor: pointer;
}

.bg-0 {
  background: #fff0;
}

.text-main {
  color: #A40000;
}

.spacer {
  padding: 50px 0px;
}

.btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-main {
  background: #A40000;
  color: #fff;
}

.btn-main:hover {
  background: #fff0 !important;
  color: #A40000 !important;
  border-color: #A40000;
}

.badge-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-title {
  display: block;
  color: #000;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.header-subtitle {
  display: block;
  font-size: 12px;
  margin-top: 7px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #777777;
  font-weight: 400;
}

.page-card {
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
  background: #fff;
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
          box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
}

.page-card__title {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 24px;
}

.ci-table__header, .ci-table__body {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.ci-table__header--title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}

.ci-table__body:last-child {
  border: none !important;
}

.ci-table__body--title {
  margin-bottom: 0;
  padding: 5px 0px;
}

.footer-credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #898989;
  position: absolute;
  bottom: 0px;
}

.footer-credits label {
  font-size: 12px;
}

.footer-credits label i {
  color: #A40000;
  width: 20px;
  text-align: center;
  -webkit-animation: heart-beat 0.6s linear infinite;
          animation: heart-beat 0.6s linear infinite;
}

@-webkit-keyframes heart-beat {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes heart-beat {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A40000;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #81ba00;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #81ba00;
          box-shadow: 0 0 1px #81ba00;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

/* ###############
     Dashboard Page
 ############### */
.bg-card {
  border-radius: 25px;
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
          box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  padding: 20px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.bg-card__icon-box {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-card__icon-box i {
  font-size: 25px;
}

.bg-card__detail {
  padding-left: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bg-card__detail--title {
  color: #fff;
  display: block;
}

.bg-card__detail--info {
  color: #fff;
}

.bg-card__detail--info span {
  font-weight: 700;
  font-size: 20px;
}

/* ###############
  Add product Page
############### */
.add-product__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.add-product__imgs--featured, .add-product__imgs--normal {
  width: 100%;
  height: 200px;
  background: #f8f8f9;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.add-product__imgs--featured input[type=file], .add-product__imgs--normal input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.add-product__imgs--featured--detail {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.add-product__imgs--featured--detail i {
  font-size: 25px;
  color: #A40000;
  display: block;
  margin-bottom: 10px;
}

.add-product__imgs--featured--detail label {
  font-size: 12px;
  color: #898989;
}

.add-product__imgs--normal {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.add-product__imgs--normal:last-child {
  margin-right: 0px;
}

/* ###############
     Product List Page
 ############### */
.product-card {
  margin-bottom: 30px;
  padding: 20px;
  border: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 5px 24px 0 #00000014;
          box-shadow: 1px 5px 24px 0 #00000014;
  position: relative;
}

.product-card__controls {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  left: 0;
  top: 0px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card__controls i {
  cursor: pointer;
}

.product-card__img {
  width: 100%;
  height: 150px;
}

.product-card__rating, .product-card__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 15px 0px;
}

.product-card__rating i, .product-card__color i {
  color: #898989;
  font-size: 15px;
}

.product-card__rating i.active, .product-card__color i.active {
  color: #ffa200;
}

.product-card__name {
  font-weight: 500;
  font-size: 18px;
  color: #898989;
  display: block;
}

.product-card__price {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
}

.product-card__price .strike-word {
  color: #898989;
  text-decoration: line-through;
  font-size: 16px;
  margin: 0px 10px;
}

.product-card__color {
  margin-bottom: 0;
  margin-top: 5px;
}

.product-card__color span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.product-card:hover .product-card__controls {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* ###############
    Top & side bar
 ############### */
.top-bar-offset {
  margin-left: 0px !important;
  width: 100vw !important;
}

.top-bar {
  background-color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
  box-shadow: 0 0 10px 1px rgba(68, 102, 242, 0.05);
  width: calc(100% - 255px);
  margin-left: 255px;
}

.top-bar__control-button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.top-bar__control-button button {
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-bar__control-button button:hover {
  border-color: #A40000;
}

.top-bar__user-control {
  max-width: 500px;
  padding-right: 30px;
}

.top-bar__user-control--search-box {
  margin-left: auto;
  width: 100%;
  position: relative;
}

.top-bar__user-control--search-box input {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 20px;
  background-color: #f8f8f9 !important;
  padding: 8px 20px;
  padding-right: 30px;
}

.top-bar__user-control--search-box i {
  position: absolute;
  top: 12px;
  right: 15px;
}

.top-bar__user-control--profile {
  width: 50px;
  margin-left: 30px;
}

.top-bar__user-control--profile img {
  border-radius: 50%;
}

.top-bar-container {
  height: 80px;
}

.side-bar-container-offset {
  max-width: 0px !important;
}

.side-bar-container {
  max-width: 255px;
  margin-top: -80px;
}

.content-container {
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  max-width: 100%;
  min-width: calc(100% - 255px);
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  width: 4px;
}

.content-container::-webkit-scrollbar-track {
  background: #fff0;
}

.content-container::-webkit-scrollbar-thumb {
  background: #A40000;
  border-radius: 20px;
}

.content-container .content-wraper {
  min-height: calc(100vh - 80px);
  position: relative;
}

.sidebar-offset {
  margin-left: -255px;
  display: none;
}

.sidemenu-bar {
  width: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  height: calc(100vh);
  z-index: 9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidemenu-bar .btn-close {
  color: #fff;
  border-color: #A40000;
  background: #A40000;
  border-radius: 50%;
  padding: 12px 20px;
  border: 1px solid;
  position: absolute;
  outline: none !important;
  right: -25px;
  top: 54px;
}

.sidemenu-bar__logo-holder {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 80px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A40000;
  z-index: 10;
  -webkit-box-shadow: -3px 1px 3px 1px rgba(68, 102, 242, 0.1);
  box-shadow: -3px 1px 3px 1px rgba(68, 102, 242, 0.1);
}

.sidemenu-bar__menu {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 20px;
}

.sidemenu-bar__menu::-webkit-scrollbar {
  width: 4px;
}

.sidemenu-bar__menu::-webkit-scrollbar-track {
  background: #fff0;
}

.sidemenu-bar__menu::-webkit-scrollbar-thumb {
  background: #A40000;
  border-radius: 20px;
}

.sidemenu-bar__menu .nav-link {
  color: #313131;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 10px;
}

.sidemenu-bar__menu .nav-link:hover {
  color: #A40000;
  margin-left: 4px;
}

.sidemenu-bar__menu .nav-link i {
  width: 20px;
  text-align: center;
}

.sidemenu-bar__menu .nav-link.active {
  color: #A40000;
}

.sidemenu-bar__menu .uk-nav-parent-icon > .uk-parent > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidemenu-bar__menu .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  -webkit-transform: inherit;
          transform: inherit;
}

.sidemenu-bar__menu .uk-nav-sub .nav-link {
  color: #898989;
  font-weight: 400;
}

.sidemenu-bar__menu .uk-nav-sub .nav-link:hover {
  color: #A40000;
  margin-left: 4px;
}

/* ###############
    Responsiveness
 ############### */
@media (max-width: 768px) {
  .top-bar-offset {
    width: 100vw !important;
  }
  .top-bar {
    margin-left: 0px;
    width: 100vw;
    z-index: 10;
  }
  .sidebar-offset {
    margin-left: 0 !important;
    display: block;
  }
  .sidemenu-bar {
    z-index: 10;
    margin-left: -255px;
  }
  .side-bar-container {
    max-width: 0;
    display: none;
  }
  .side-bar-container-offset {
    max-width: 255px !important;
    min-width: 255px !important;
    display: block !important;
    position: absolute !important;
    top: 0px;
    margin-top: 0px;
  }
  .view-close-btn {
    display: block !important;
  }
  .ci-table__header {
    display: none;
  }
  .reverse-colomn-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 550px) {
  .page-card__title {
    min-width: 100%;
  }
}

@media (max-width: 500px) {
  .top-bar__control-button {
    margin-left: 0px !important;
  }
  .top-bar__user-control {
    padding-right: 15px;
  }
  .top-bar__user-control--search-box input {
    font-size: 14px;
  }
  .top-bar__user-control--search-box i {
    right: 10px;
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */