<div id="top-bar" class="container-fluid top-bar px-0">
    <div class="d-flex align-items-center justify-content-between h-100">
        <div class="top-bar__control-button ml-3 col pr-0">
            <button class="btn bg-0 text-main" onclick="sideBar()"><i class="fas fa-bars"></i></button>
        </div>
        <div class="top-bar__user-control col d-flex align-items-center justify-content-end"> 
            <div class="top-bar__user-control--profile dropdown">
                <img src="../assets/img/man.png" alt="" class="pointer dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>