<div class="container-fluid p-4">
    <label for="" class="header-title">SUB CATEGORY</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Products Sub Category</label>
            <button (click)="openCreate()" class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0"><i class="fas fa-plus-circle mr-3"></i>Add Sub Category</button>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-md-12 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                     <div class="col-3 px-0 text-left text-center">
                        <label for="" class="ci-table__header--title">status</label>
                    </div>
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Category</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list">
                <div class="col-md-12 col-6 d-flex flex-wrap">
                    <div class="col-md-3 col-12 px-0 text-md-left mb-3">
                        <label for="" class="ci-table__body--title">{{item.subcategory_name}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <label class="switch"  uk-tooltip="title: Change state;pos:top">
                            <input type="checkbox" [checked]="item.status" (change)="statusctl(item._id,item.status)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-left ">
                        <label for="" class="ci-table__body--title">{{item.parent_category}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <i class="fas fa-edit text-success mr-3 pointer" uk-tooltip="title: Edit item;pos:top" (click)="edit(item)"></i>
                        <i class="fas fa-trash-alt text-danger pointer" uk-tooltip="title: Delete item;pos:top" (click)="delete(item)"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>

<div  id="subcat-create" class="uk-flex-top" uk-modal="bg-close: false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
            <form class="row" [formGroup]="subcategory">
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="subcategoryname">subcategory name<span class="text-danger">*</span></label>
                        <input formControlName="subcategory_name" type="text"  id="subcategoryname" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="categoryname">Category<span class="text-danger">*</span></label>
                        <select formControlName="parent_category" id="categoryname" class="form-control">
                            <option [value]=null>Select category</option>
                            <option [value]="cat.name" *ngFor="let cat of categoryList">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="flag" (click)="save()">Save</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="!flag" (click)="update()">Update</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mr-2" (click)="closeCreate()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>





<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>