<div class="container-fluid bg-white footer-credits p-4">
    <div class="d-flex flex-wrap w-100">
        <label for="" class="mb-0 col-md-6 col-12 text-md-left text-center">Copyright 2019 © Gdecor All rights reserved.</label>
        <label class="col-md-6 col-12 mb-0 text-md-right text-center" for="">Hand crafted & made with <br class="d-block d-md-none"> <i class="fas fa-heart"></i></label>
    </div>
</div>