<div id="sidebar-menu" class="container-fluid sidemenu-bar px-0">
    <div class="sidemenu-bar__logo-holder">
        <img src="../../../assets/img/IMG_20201030_212137_245.png" alt="">
    </div>
    <button id="close-btn" class="btn-close d-none pointer" onclick="sideBar()"><i class="fas fa-times"></i></button>
    <div class="sidemenu-bar__menu">
        <ul class="uk-nav-parent-icon" uk-nav>
            <li class="uk-active"><a class="nav-link active" [routerLink]="['/dashboard']" ><i class="fas fa-home mr-3"></i>Dashboard</a></li>
            <li class="uk-parent">
                <a class="nav-link" href="#"><i class="fas fa-box mr-3"></i>Products</a>
                <ul class="uk-nav-sub">
                    <li *ngIf="false">
                        <a class="nav-link" [routerLink]="['/dashboard/products/productlist']">Product List</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/products/category']">Category</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/products/subcategory']">Sub Category</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/products/brand']">Brands</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent">
                <a class="nav-link"><i class="fas fa-dollar-sign mr-3"></i>Sales</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/sales/orders']">Orders</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="false">
                <a class="nav-link" [routerLink]="['/dashboard/coupons']"><i class="fas fa-ticket-alt mr-3"></i>Coupons</a>
            </li>
            <li class="uk-parent">
                <a class="nav-link"><i class="far fa-image mr-3"></i>Banner</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/banner/bannerlist']">Banner List</a>
                    </li> 
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/banner/createbanner']">create Banner</a>
                    </li> 
                </ul>
            </li>
            
            <li>
                <a class="nav-link" [routerLink]="['/dashboard/customers']"><i class="fas fa-user mr-3"></i>Customers</a>
            </li>
            <li class="uk-parent" *ngIf="false">
                <a class="nav-link" href="#"><i class="fas fa-file-alt mr-3"></i>Report</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/report/productreport']">Product Report</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/report/salesreport']">Sales Report</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/dashboard/invoice']"><i class="fas fa-file-invoice-dollar mr-3"></i>Invoice</a>
            </li>
            <li class="uk-parent">
                <a class="nav-link" href="#"><i class="fas fa-store mr-3"></i>Stores</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/createstore']">Create store</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/liststore']">Manage stores</a>
                    </li>
                </ul>
            </li>
            <li class="uk-parent">
                <a class="nav-link" href="#"><i class="fas fa-handshake mr-3"></i>Partners</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/createpartner']">Create partner</a>
                    </li>
                    <li>
                        <a class="nav-link" [routerLink]="['/dashboard/listpartner']">Manage partner</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/dashboard/sitesettings']"><i class="fas fa-comment-alt mr-3"></i>Request</a>
            </li>
            <li *ngIf="false">
                <a class="nav-link" [routerLink]="['/dashboard/sitesettings']"><i class="fas fa-cog mr-3"></i>Site Settings</a>
            </li>
            <li *ngIf="false">
                <a class="nav-link" [routerLink]="['/dashboard/pushnotification']"><i class="fas fa-comment-alt mr-3"></i>Push notifications</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/dashboard/adminusers']"><i class="fas fa-user-shield mr-3"></i>Admin Users</a>
            </li>
            <li>
                <a class="nav-link" (click)="logout()"><i class="fas fa-power-off mr-3"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>