<div class="container-fluid p-4">
    <label for="" class="header-title">BRANDS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Brands List</label>
            <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" uk-toggle href="#create-brand" (click)="clear()"><i class="fas fa-plus-circle mr-3"></i>Add Brand</button>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0 text-center">
                    <label for="" class="ci-table__header--title">Image</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Date</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Status</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of brandList">
                <div class="col-md-2 col-6 px-0 text-center">
                    <img [src]="item.image" width="50px" height="50px" alt="">
                </div>
                <div class="col-md-10 col-6 d-flex flex-wrap">
                    <div class="col-md-3 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title">{{item.name}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title">{{item.date | date}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <label class="switch" *ngIf="item.status">
                            <input type="checkbox" checked (change)="statusctl(item._id,false)">
                            <span class="slider round"></span>
                        </label>
                        <label class="switch" *ngIf="!item.status" >
                            <input type="checkbox"  (change)="statusctl(item._id,true)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                   
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <i class="fas fa-edit text-success mr-3" (click)="edit(item)"></i>
                        <i class="fas fa-trash-alt text-danger" (click)="delete(item._id)"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>
<div  id="create-brand" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="container-fluid">
            <form class="row" [formGroup]="brand">
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="brandname">Brand name<span class="text-danger">*</span></label>
                        <input formControlName="name" type="text"  id="brandname" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="categoryname">Brand Logo<span class="text-danger">*</span></label>
                        <input (change)="upload($event)" type="file"  id="categoryname" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="saveFlag" (click)="save()">Save</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="!saveFlag" (click)="update()">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="brand-delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>





<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>