<div class="container-fluid">
    <form [formGroup]="sitesettings" class="row py-3">
        <div class="col-12">
            <button *ngIf="!saveFlag && siteInitalSave" (click)="update()" class="btn mx-2 btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0">Update</button>
            <button *ngIf="!saveFlag && siteInitalSave" (click)="cancel()" class="btn mx-2 btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0">Cancel</button>
            <button *ngIf="saveFlag && siteInitalSave" (click)="edit()" class="btn mx-2 btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0">Edit</button>
            <button *ngIf="!siteInitalSave" (click)="save()" class="btn mx-2 btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0">Save</button>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="site-name">Site name</label>
                <input #form formControlName="sitename"  type="text" name="site-name" id="site-name" class="form-control">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="site-name">Site Logo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input #form (change)="uploadImage($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="contact-number">Contact Number</label>
                <input #form formControlName="contactnumber" type="text" name="contact-number" id="contact-number" class="form-control">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="contact-email">Contact Email</label>
                <input #form formControlName="contactemail" type="text" name="contact-email" id="contact-email" class="form-control">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="facebook-link">Facebook link</label>
                <input #form formControlName="facebooklink" type="text" name="facebook-link" id="facebook-link" class="form-control">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="instagram-link">Instagram Link</label>
                <input #form formControlName="instagramlink" type="text" name="instagram-link" id="instagram-link" class="form-control">
            </div>
        </div>
        <div class="col-12 my-3">
            <h5><strong>Delivery charge controls</strong></h5>
            <hr>
        </div>
    </form>    
    <form [formGroup]="deliverysettings" class="row align-items-end">
            <div class="col-2">
                <div class="form-group">
                    <label for="fromprice">From</label>
                    <input #form formControlName="fromprice" type="number" name="fromprice" id="fromprice" class="form-control">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="toprice">To</label>
                    <input #form formControlName="toprice" type="number" name="toprice" id="toprice" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input #form formControlName="amount" type="number" name="amount" id="amount" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <button #form *ngIf="deliverySaveFlag" (click)="addDelivery()" class="btn mx-2 btn-main bg-main text-white float-left px-4 mb-3 mb-sm--0">Add</button>
                <button #form *ngIf="!deliverySaveFlag" (click)="updateDelivery()" class="btn mx-2 btn-main bg-main text-white float-left px-4 mb-3 mb-sm--0">Update</button> 
                <button #form *ngIf="!deliverySaveFlag" (click)="cancelDelivery()" class="btn mx-2 btn-main bg-main text-white float-left px-4 mb-3 mb-sm--0">Cancel</button>
            </div>
    </form>
    <div class="row" *ngIf="deliveycostList.length > 0">
        <div class="col-2" *ngIf="deliveycostList.length > 0">
                <span>From</span>
        </div>
        <div class="col-2" *ngIf="deliveycostList.length > 0">
                <span>To</span>    
        </div>
        <div class="col-4" *ngIf="deliveycostList.length > 0">
                <span>Amount</span>
        </div>
        <div class="col-2" *ngIf="deliveycostList.length > 0">
            <span>Action</span>
        </div>
    </div>
    <div class="row" *ngFor="let item of deliveycostList; let i=index;">
        <div class="col-2" *ngIf="deliveycostList.length > 0">
                <span>₹{{item.fromprice}}</span>
        </div>
        <div class="col-2" *ngIf="deliveycostList.length > 0">
                <span> ₹{{item.toprice}}</span>    
        </div>
        <div class="col-4" *ngIf="deliveycostList.length > 0">
                <span> ₹{{item.amount}}</span>
        </div>
        <div class="col-2" *ngIf="deliveycostList.length > 0">
            <i #form class="fas fa-trash text-danger mx-2 pointer" (click)="deleteItem(i)"></i>
            <i #form class="fas fa-edit text-success mx-2 pointer" (click)="editItem(i, item)"></i>
        </div>
    </div>    
</div>