<div class="container-fluid p-4">
    <label for="" class="header-title">ADD PRODUCT</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Add Products</label>
        </div>
        <div class="d-flex flex-wrap align-items-start justify-content-center add-product">
            <div class="col-md-4 add-product__imgs flex-wrap order-md-1 order-2">
                <div class="add-product__imgs--featured">
                    <input type="file" name="featured-img" id="">
                    <div class="add-product__imgs--featured--detail">
                        <i class="fas fa-plus"></i>
                        <label for="">Featured Image</label>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="add-product__imgs--normal">
                            <input type="file" name="normal-img" id="">
                            <div class="add-product__imgs--featured--detail">
                                <i class="fas fa-plus"></i>
                                <label for="">Image</label>
                            </div>
                        </div>
                        <div class="add-product__imgs--normal">
                            <input type="file" name="normal-img" id="">
                            <div class="add-product__imgs--featured--detail">
                                <i class="fas fa-plus"></i>
                                <label for="">Image</label>
                            </div>
                        </div>
                        <div class="add-product__imgs--normal">
                            <input type="file" name="normal-img" id="">
                            <div class="add-product__imgs--featured--detail">
                                <i class="fas fa-plus"></i>
                                <label for="">Image</label>
                            </div>
                        </div>
                        <div class="add-product__imgs--normal">
                            <input type="file" name="normal-img" id="">
                            <div class="add-product__imgs--featured--detail">
                                <i class="fas fa-plus"></i>
                                <label for="">Image</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col order-md-2 order-1">
                <form>
                    <div class="d-flex flex-wrap">
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Product Name</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Price</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Discount</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Unit</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Product Code</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Category</label>
                            <select class="form-control">
                                <option>Mens Fashion</option>
                                <option>Womens Fashion</option>
                                <option>Kids Fashion</option>
                            </select>
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Sub Category</label>
                            <select class="form-control">
                                <option>Mens Fashion</option>
                                <option>Womens Fashion</option>
                                <option>Kids Fashion</option>
                            </select>
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Product size</label>
                            <select class="form-control">
                                <option>Mens Fashion</option>
                                <option>Womens Fashion</option>
                                <option>Kids Fashion</option>
                            </select>
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Product Qty</label>
                            <div class="input-group bootstrap-touchspin">
                                <div class="input-group-prepend">
                                    <button class="btn bg-main text-white btn-square bootstrap-touchspin-down" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <div class="input-group-prepend">
                                    <span class="input-group-text bootstrap-touchspin-prefix" style="display: none;"></span>
                                </div>
                                <input class="touchspin form-control" type="text" value="1" style="display: block;">
                                <div class="input-group-append">
                                    <span class="input-group-text bootstrap-touchspin-postfix" style="display: none;"></span>
                                </div>
                                <div class="input-group-append ml-0">
                                    <button class="btn bg-main text-white btn-square bootstrap-touchspin-up" type="button"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group my-3 col-12">
                            <label for="exampleFormControlTextarea1">Product Details</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="add-product__control col-12 order-3 my-3 text-right">
                <button class="btn bg-main text-white mr-3">ADD</button>
                <button class="btn mr-3">DISCARD</button>
            </div>
        </div>
    </div>
</div>