<div class="container-fluid ">
   <div class="row align-items-center justify-content-between px-3">
        <label for="" class="header-title">STORE</label>
        <label class="switch mt-2" uk-tooltip="title: Change state; post: top">
            <input type="checkbox" [checked]="store.value.status" >
            <span class="slider round"></span>
        </label>
   </div>
    <div class="page-card mt-3">
        <form [formGroup]="store" class="row mx-0 px-0">
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Name</label>
                <input formControlName="store_name" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Address</label>
                <input formControlName="address" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Location</label>
                <input formControlName="location" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store District</label>
                <input formControlName="district" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Pincode</label>
                <input formControlName="pin" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store PAN</label>
                <input formControlName="pan" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store GSTN</label>
                <input formControlName="gstin" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Email</label>
                <input formControlName="email" type="email" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Store Phone</label>
                <input formControlName="phone" type="number" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Username</label>
                <input formControlName="username" type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Password</label>
                <input formControlName="password" type="password" class="form-control form-control-sm">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="storename">Logo</label>
                <input (change)="upload($event)" type="file" class="form-control form-control-sm">
            </div>
        </form>
        <div class="row">
            <div class="col-12 p-2">
                <button (click)="save()" class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0"  ><i class="fas fa-plus-circle mr-3"></i>Save store</button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>