
<div class="container-fluid p-4">
    <label for="" class="header-title">COUPONS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Products Coupons</label>
            <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" uk-toggle href="#modal-center" (click)="clear()"><i class="fas fa-plus-circle mr-3"></i>Add Coupon</button>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0 text-center">
                    <label for="" class="ci-table__header--title">Name</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Code</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Used</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Count</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list">
                <div class="col-md-2 col-6 px-0 text-center">
                    <label for="" class="ci-table__body--title">{{item.couponname}}</label>
                </div>
                <div class="col-md-10 col-6 d-flex flex-wrap">
                    <div class="col-md-3 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title">{{item.couponsecret}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title">{{item.couponused}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <label for="" class="ci-table__body--title">{{item.couponcount}}</label>
                    </div>
                   
                    <div class="col-md-3 col-12 px-0 text-center">
                        <i class="fas fa-trash-alt text-danger mr-3 pointer" (click)="delete(item)"></i>
                        <i class="fas fa-eye text-info pointer" (click)="view(item)"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>
<div  id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="container-fluid">
            <form class="row" [formGroup]="item">
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="couponname">Coupon name<span class="text-danger">*</span></label>
                        <input formControlName="couponname" type="text"  id="couponname" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="couponsecret">Coupon secret<span class="text-danger">*</span></label>
                        <input formControlName="couponsecret" type="text"  id="couponsecret" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="coupondiscount">Coupon discount<span class="text-danger">*</span></label>
                        <input formControlName="coupondiscount" type="text"  id="coupondiscount" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="couponcount">Coupon Count<span class="text-danger">*</span></label>
                        <input formControlName="couponcount" type="text"  id="couponcount" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="flag" (click)="save()">Save</button>
                    <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" *ngIf="!flag" (click)="update()">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>

<div id="viewusers" class="uk-margin-auto-vertical" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div> 
</div>





<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>