<div class="container-fluid p-4">
    <label for="" class="header-title">ADMIN USERS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Admin List</label>
            <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" uk-toggle href="#create" (click)="clear()"><i class="fas fa-plus-circle mr-3"></i>Add Admin</button>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col px-0">
                    <label for="" class="ci-table__header--title">Admin Id</label>
                </div>
                <div class="col-10 d-flex">
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Phone Number</label>
                    </div>
                    <div class="col px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>

            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list;let i=index;">
                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"> <span class="d-md-none d-inline-block mr-4">Customer Id</span>{{i + 1}}</label>
                </div>
                <div class="col-md-10 d-flex flex-wrap px-0 px-md-3">
                    <div class="col-md px-0">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Name</span>{{item.username}}</label>
                    </div>
                    <div class="col-md px-0">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Phone Number</span>{{item.phno}}</label>
                    </div>
                    <div class="col-md px-0 text-md-center">
                        <span class="d-md-none d-inline-block mr-4">Action</span>
                        <i class="fas fa-edit text-success mx-2 pointer" (click)="edit(item)"></i>
                        <i class="fas fa-trash-alt text-danger mx-2 pointer" (click)="delete(item._id)"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>

<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>

<div id="create" class="uk-margin-auto-vertical" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
            <form [formGroup]="adminUser" class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Name<span class="text-danger">*</span></label>
                        <input formControlName="username" type="text" id="name" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="password">Password<span class="text-danger">*</span></label>
                        <input formControlName="password" type="password" id="password" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="email">Email<span class="text-danger">*</span></label>
                        <input formControlName="email" type="email" id="email" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="phno">Phone Number<span class="text-danger">*</span></label>
                        <input formControlName="phno" type="number" id="phno" class="form-control">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-main bg-main text-white px-4 mb-3 mx-2 mb-sm--0"  *ngIf="flag" (click)="save()">Save</button>
                    <button class="btn btn-main bg-main text-white px-4 mb-3 mx-2 mb-sm--0"  *ngIf="!flag" (click)="update()">Update</button>
                    <button class="btn btn-main bg-main text-white px-4 mb-3 mx-2 mb-sm--0"  *ngIf="!flag" (click)="clear()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
