<div class="container-fluid p-4">
    <label for="" class="header-title">SALES REPORT</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Sales Report</label>
            <div class="col-6 row mx-0 px-0">
                <div class="col-5">
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <input #startdate type="date" class="form-control">
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label for="">End Date</label>
                        <input #enddate type="date" class="form-control">
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <button class="btn btn-main bg-main text-white" (click)="apply(startdate.value,enddate.value)">Apply</button>
                </div>
            </div>
        </div>
        <div class="ci-table" >
            <div class="ci-table__header border-bottom">
                <div class="col-2 px-0">
                    <label for="" class="ci-table__header--title">Sale Id</label>
                </div>
                <div class="col-md-10 d-flex">
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Date</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Customer name</label>
                    </div>
                    <div class="col-3 px-0 text-center">
                        <label for="" class="ci-table__header--title">Tax</label>
                    </div>
                    <div class="col-3 px-0 text-left">
                        <label for="" class="ci-table__header--title">Total</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of reportList">
                <div class="col-md-2 col-6 px-0">
                    <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Sale ID</span>{{item.invoice_id}}</label>
                </div>
                <div class="col-md-10 col-12 d-flex flex-wrap px-0 px-md-3">
                    <div class="col-md-3 col-12 px-0 text-md-left">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Date</span>{{item.date | date}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Buyyer name</span>{{item.buyer_name}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-center ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Tax</span>{{item.sales_tax}}</label>
                    </div>
                    <div class="col-md-3 col-12 px-0 text-md-left ">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Total</span>{{item.total_due}}</label>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>