<div class="container-fluid p-4">
    <label for="" class="header-title">CUSTOMERS</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0 pb-3">Customer List</label>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col px-0">
                    <label for="" class="ci-table__header--title">Customer Id</label>
                </div>
                <div class="col-10 d-flex">
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Image</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Fisrt Name</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Last Name</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Phone Number</label>
                    </div>
                    <div class="col px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>

            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            <div class="ci-table__body border-bottom flex-wrap" *ngFor="let item of list;let i=index;">
                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"> <span class="d-md-none d-inline-block mr-4">Customer Id</span>{{i + 1}}</label>
                </div>
                <div class="col-md-10 d-flex flex-wrap px-0 px-md-3">
                    <div class="col-md px-0">
                        <span class="d-md-none d-inline-block mr-4">Customer Image</span>
                        <img src="../assets/img/1.jpg" alt="">
                    </div>
                    <div class="col-md px-0">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">First Name</span>{{item.fname}}</label>
                    </div>
                    <div class="col-md px-0">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Last Name</span>{{item.lname}}</label>
                    </div>
                    <div class="col-md px-0">
                        <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-4">Phone Number</span>{{item.phno}}</label>
                    </div>
                    <div class="col-md px-0 text-md-center">
                        <span class="d-md-none d-inline-block mr-4">Action</span>
                        <i class="fas fa-trash-alt text-danger pointer" (click)="delete(item._id)"></i>
                    </div>
                </div>
            </div>
            <!-- ci-body ends -->
        </div>
        <ul class="uk-pagination uk-flex-center" uk-margin>
            <li><a (click)="previous()"><span uk-pagination-previous></span></a></li>
            <li *ngFor="let item of count;let i=index;"><a (click)="manual(i+1)">{{i+1}}</a></li>
            <li><a (click)="next()"><span uk-pagination-next></span></a></li>
        </ul>
    </div>
</div>

<div id="delete" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div class="container-fluid">
           <div class="row">
               <div class="col-12">
                <div class="uk-alert-danger" uk-alert>
                    <p>Do you want to delete...?</p>
                </div>
               </div>
               <div class="col-12 d-flex align-items-center justify-content-center">
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="confirm()">Yes</button>
                <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0 mx-2" (click)="cancel()">No</button>
               </div>
           </div> 
        </div>

    </div>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#24aa0d" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
